sous {
    text-transform: lowercase;
    font-size: 13px;
    font-family: 'Oceanss';
    color: #D0D6E5;
    letter-spacing: 0.5px;
    padding: 0.5px 2px;
    box-shadow: inset 0 -5px 0 rgba(141, 161, 218, 0.5);
}
.code div.cont_code {
    max-height: 200px;
    overflow: auto;
}

.codebox {
    color:#b3b3b3 !important;
}

.pres_iconirl {
  width:70px !important;
  height:70px !important;
  object-fit:cover;
  margin-left:20px;
}

.fiche_admin {
  margin-left:16px;
}

.partie1 {
 width:250px; 
 height:240px;
 overflow:auto;
}
.cpresaimg3 {
  margin-left:22px;
}

.presaimg3 {
  width:180px;
  height:80px;
  object-fit:cover;
  padding:6px;
}

.fiche_cita {
  font-family: 'Geist mono';
  margin-top:-10px;
  margin-bottom:-10px;
  font-size:11px;
  font-weight:300;
  color:lightgrey;
  letter-spacing:px;
  text-transform:lowercase;
  width:280px;
  text-align:center;
}

.presaimg2 {
  width:130px;
  height:208px;
  object-fit:cover;
  padding:0px;
  
}

.psypsy {
  margin-top:-20px;
}

.profilpsy {
    margin: auto;
    overflow: auto;
    width: 440px;
    line-height: 12px;
}

.psy1 {
    text-align: center;
    font-size: 9px;
    font-weight: 500;
    text-transform: uppercase;
    font-family:'Geist Mono';
    color:lightgrey;
  
}

.cotepsy1 {
    text-align: left;
    width: 145px;
}

.jaugepsy {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
      margin-left:5px;
   
}

.meter {
    border-radius: 0px;
    height: 5px;
    padding: 0;
    position: relative;
    width: 120px;
    margin-top: 2px;
    background-color: #1A1B1B;
    margin-bottom:-13px;
    margin-left:10px;
}

.meter > span {
    display: block;
    height: 100%;
    overflow: hidden;
    border-radius: 0px;
    background: var(--deg-2);
  opacity:0.7;
}

.titre_fiche {
  padding-top:12px;
  padding-bottom: 5px;
  margin: auto;
  color: #A5B8E4;
  font-family: 'Bodoni Moda' !important;
  font-size: 20px;
  letter-spacing:normal;
  font-weight: 500;
  text-transform: lowercase;
  line-height:30px;
  width:100%;
  font-style:italic;
}

.titre_fiche2 {
  padding-top:12px;
  padding-bottom: 5px;
  margin: auto;
  color:#F9D68E !important;
  font-family:'AesReg' !important;
  letter-spacing:1.5px;
  text-transform:uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height:30px;
  width:100%;
}

.cadre1 {
    display: inline-block;
    overflow: auto;
    text-align: justify;
    max-height: 310px;
    padding: 20px;
    background: #1A1B1B;
    border-radius: 4px;
    width: 470px;
    margin:auto;
}

.cadre2 {
    display: inline-block;
    overflow: auto;
    text-align: justify;
    max-height: 200px;
    padding: 5px;
    background: #1A1B1B;
    border-radius: 4px;
    width: 300px;
    margin:auto;
}
i25 {
color:#F9D68E !important;
  font-family:'AesReg' !important;
  font-size:10.5px !important;
  letter-spacing:1.5px;
  line-height:10px;
  text-transform:uppercase;
}

i26 {
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    font-family:'Geist Mono';
    color:lightgrey;
}

.cadre_fiche {
    text-align: justify;
    background: var(--fond-c3);
    padding: 10px;
    font-family: var(--font-1);
    font-weight: 350;
    font-size: 12px;
    line-height: 19px;
    color: var(--para-c1);
    margin-top: -16px;
   margin:auto;
    width:95%;
  border-radius:5px;
}

/* fin fiche pres */

.HGSJT_newpost a {
   font-size: 11px !important;
     font-family: 'Geist Mono' !important;
    text-transform:lowercase !important;
  color:white !important;
  font-weight:600 !important;
}

#textarea_content {
  width:610px !important;
  margin-left:-80px;
}

.smiley-element {
      padding:-5px 15px !important;
}

#sce_smilies_body {
    background-color: #151617;
    background-image: none;
    margin: 0 !important;
    min-width: 1px !important;

}


input#username.inputbox {
width:80% !important;
}
/* mp lecture */

.title_total_mp {
    width: 100%;
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 10px;
    color: #a6bce8;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    text-transform: lowercase;
    font: 16px 'Bodoni Moda';
  Font-style:italic;
    font-weight: bold;
    margin-bottom: 20px;
}
.postprofile-avatar {
    margin-bottom: 6px;
    text-align: center;
    width: 150px;
    height: 240px;
    overflow: hidden;
}
.postprofile-avatar img {
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    height: 240px !important;
    width: 150px;
}
.titre_du_mp{
    padding-bottom: 10px;
    margin-bottom: 16px;
     font-size: 12px !important;
    text-transform:lowercase !important;
}
.titre_du_mp span {
  color:#cdb65c;
}
.signature_div{
margin-top:16px;
}
.postbody .content {
    font-size: 13px !important;
    text-align: justify;
  margin-left:16px;
}
/* mp boite */


/* MPS LISTE */

#privmsgs-menu > li
 {
    margin: 0;
    min-height: 88px;
    min-width: 88px;
    padding: 0px 9px 0;
    text-align: left;
    vertical-align: middle;
   font-size: 11px !important;
     font-family: 'Geist Mono' !important;
    text-transform:lowercase !important;
  color:white !important;
}

ul.topiclist.bg_none {
    background: transparent;
}
#privmsgs-menu {
    float: none !important;
    padding: 0 9px;
      text-transform:lowercase !important;
}
#picture_legend, #privmsgs-menu {
    border-radius: 3px;
    box-shadow: none !important;
    font-size: 11px;
    margin-bottom: 24px;
    overflow: hidden;
}
#privmsgs-menu a {
      text-transform:lowercase !important;
    font: 11px 'Geist Mono';
    letter-spacing: 0px;
}

#privmsgs-menu .active  {
      text-transform:lowercase !important;
    font: 11px 'Geist Mono' !important;
    letter-spacing: 0px !important;
}

.mp_bouton{
    background: transparent;
    width: 49%;
    margin: 0px 5px 0px 0px;
    padding: 4px;
    font: 11px calibri;
    text-transform: lowercase;
    text-align: left;
}
.mp_bouton a {
    color: #1e1e1e;
    display: block;
  font-size:13px !important;
  font-family: 'Geist Mono' !important;
}
.total_liste_mp {
    background: transparent;
    padding: 10px;
    height: 69px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  border-bottom: 1px solid grey;
}
.title_mp {
    width: 770px;
    height: 15px;
    padding: 10px 0px 15px 0px;
}
.title_mp a {
  font-size:14px !important; 
  font-family:'Bodoni Moda';
  text-transform:lowercase;
  font-weight:600;
  line-height:16px;
  color:white !important;
}
.blok_mp {
    width: 286px;
    padding: 10px 30px 0px 30px;
    font: 11px open sans;
    text-transform: lowercase;
    height: 30px;
  
}
.icon_mp {
    width: 20px;
    margin-top: 0px;
}
/* fin */




input.tiny, select.tiny {
  width: 200px !important;
}

select {
  color:white !important;
    font-size: 11px !important;
    text-transform:lowercase !important;
  padding:0px 5px !important;
}

.panel p, .panel div.mes-txt {
      font: 12px Open Sans !important;
}

/* liste des membres */
.liste_des_membres {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}
.membre_liste {
  border-radius:0px;
  margin:2px;
  width:200px;
  height:320px;
  background-image: var(--deg-2);
}
.inside_member {
    text-align: center;
    height: 365px;
}
.membre_liste img {
    border-radius: 0px;
    width: 100%;
}
.hover_inside_membre {
    position: relative;
    width: 202px;
    height: 320px;
    background: rgba(0, 0, 0, 0.8);
    top: -322px;
    transition: all 800ms;
    opacity: 0;
}
.hovy_inside {
    height: 320px;
    background-size: 100%;
    transition:all 800ms;
}
.hover_inside_membre:hover, .hovy_inside {
  transition:all 800ms;
  opacity:1;
}
.member_pro {
    padding: 10px 20px 6px 20px;
    text-align: left;
    font: 11px 'Geist Mono';
    letter-spacing: 0px;
    color: white;
    font-weight: bold;
  text-transform:lowercase !important;

}
.nom_member {
    width: 200px;
    text-align: center;
    padding: 5px 5px 2px 5px;
    margin: -670px auto auto auto;
    font-size: 14px ;
    font-family:'Bodoni Moda';
    line-height: 16px;
    background:#1A1B1B;
    letter-spacing: 0.5px !important;
  text-transform:lowercase !important;
  font-style:italic;

}

.member1 {
  text-transform:lowercase !important;
    font: 11px 'Geist Mono';
}

/* fin liste des membres */


.second_texte {
 width:61% !important; 
  font-size:12px;
  margin-left:26px;
}

.post_post a {
  color:white !important;
      font-weight: 600 !important;
}

.post_post a:hover{
  color:#b3b3b3 !important;
}

.right_post strong {
  font-weight:700 !important;
}

c1 {
    font-family: var(--font-7);
    font-weight: 600;
    letter-spacing: 0;
    text-transform: lowercase;
    color: #A5B8E4 !important;
    background-clip: text;
}

c1i {
    font-family: var(--font-7);
    font-weight: 600;
    letter-spacing: 0;
    text-transform: lowercase;
    color: #A5B8E4 !important;
    background-clip: text;
  font-style:italic;
}

.cadre_corps {
    text-align: justify;
    background: var(--fond-c3);
    padding: 10px;
    font-family: var(--font-1);
    font-weight: 350;
    font-size: 12px;
    line-height: 19px;
    color: var(--para-c1);
    margin-top: -16px;
    width:80%;
  border-radius:5px;
  margin:auto;
}

i5 {
    padding: 0px 3px;
    font-family: var(--font-5);
    font-weight: 600;
    font-size:12px;
    color: #fff;
    background: var(--deg-2);
    letter-spacing: 0;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
vh {
    color: #6A8CC4 !important;
    font-family:'Bodoni Moda'  !important;
  font-size:14px !important;
}
cv {
    color: #E2BE71 !important;
    font-family:'Bodoni Moda'  !important;
   font-size:14px !important;
}

ch {
    color: #69ABDB  !important;
    font-family:'Bodoni Moda'  !important;
   font-size:14px !important;
}

.text_corps {
  width:80% !important; 
  margin-left:16px;
  font-size:12px;
  margin-top:5px;
}

.titre_admin h3{
    border-bottom:1px solid white;
  padding-bottom: 3px;
  margin: 0;
 color: white;
background: var(--deg-2);
text-transform: uppercase;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-family: 'Playfair Display' !important;
  font-size: 18px;
  letter-spacing: -1px;
  font-weight: 500;
  text-transform: lowercase;
  border-radius:2px;
  width:80% !important; 
  margin-left:16px;
}

tw:hover {
    color: var(--para-c1);
    transition: 0.3s 
linear;
}

tw {
    font-size: 12px;
    font-family: var(--font-4);
    padding: 2px 6px;
    color: var(--fond-c4);
    margin: 0 5px;
    background: #0b0b0a;
    transition: 0.3s 
linear;
}

.sur1 {
  background:#303030 !important;
  color:#b3b3b3 !important;
  border-radius:0px !important;
  padding:-3px 4px !important;
  text-transform:uppercase !important;
  font: 11px 'Geist Mono';
  text-align:center;
  font-weight:600;
  margin-top:-15px !important;
  margin-bottom:-5px !important;
  width:200px !important;
    margin-left:-10px;
}

input[name="avatarurl"], input[name="avatar"] {
display:none;
}

bn {
  text-transform:uppercase;
  font-family:'Geist Mono';
  font-weight:400;
  font-size:9px;
  line-height:8px;
  background:#776B50;
  color:white !important;
  border-radius:0px;
  margin:0;
  padding:0 4px;
}

hr {
 height: 0;
    border: 1px solid #303030;
    border-top-width: 0;
}

:root{
    --border-c1: #303030;
    --fond-c1: #151617;
    --fond-c2: #1a1b1b;
    --fond-c3: #151516;
    --fond-c4: #0b0b0a;
    --para-c1: #8c8c8c;
    --para-c2: #737373;
    --text-c1: #fff;
    --text-c2: #cfb06d;
    --text-c3: #f4f6f8;
    --text-c4: #c69cf3;
    --text-c5: #be3522;
    ---nav: linear-gradient(90deg, rgba(14, 20, 28, 0.9) 0%, rgba(14, 20, 28, 0.9) 100%);
    --color-accent1: #29121a;
    --color-btns: linear-gradient(90deg, #f492b3, #75b8e8);
    --pa_c1: #faf7f1;
    --para-c1: #8c8c8c;
    --pa_c2: #fff;
    --pa_c3: #f4f6f8;
    --pa_c4: #841607;
    --pa_c5: #516d80;
    --pa_c6: #000;
  
  --font-5: 'Geist Mono';
  --font-7: 'Bodoni Moda';
  --pa_c1: #faf7f1;
  --nav:linear-gradient(90deg, rgba(23, 22, 21, 0.9) 0%, rgba(23, 22, 21, 0.9) 100%);
  --deg-2: linear-gradient(90deg, #F4CE9F, #75b8e8);
  --l0: #151617; /*light 0*/
  --l1: #1A1B1B; /*light 1*/
  --l2: #1A1B1B; /*light 2*/
  --l3: #1A293C; /*#light 3*/
  --l4: #1A293C; /*light 4*/
  
  --m1: #1B2736; /*moyen 1*/
  --m2: #1A293C; /*moyen 2*/

  --d1: #b3b3b3 ; /*dark 1*/
  --d2: #b3b3b3 ; /*dark 2*/
  --d3: #b3b3b3; /*dark 3*/

  --h1: #b3b3b3; /*highlight 1: bleu moyen*/
  --h2: #b3b3b3; /*highlight 2: bleu clair*/
  --h3: #b3b3b3; /*highlight 3: brun moyen*/
  --h4: #b3b3b3; /*highlight 4: brun clair*/
  
  --sm: 10px;
  --mo: 12px;
  --bg: 10px;
  --lg: 50px;
  --gi: 100px;
  --grid-gap: var(--mo);
  
  --header-width: 900px; /* LARGEUR HEADER ET LARGEUR FORUM */
  
  --main-color: var(--d3);
  --main-font: 'Open Sans', Verdana, sans-serif;
  --main-border-thin: 2px solid var(--m1);
  --main-border: 0px solid var(--m1);
  --main-border-thick: 6px solid var(--m1);
  --main-border-radius: 0px;/*BORDS ARRONDIS DE TOUS LES BLOCKS : remplacer par "2px" par 0 pour ne pas avoir de bord arrondi du tout*/
  /*--main-box-shadow: 0 0 5px var(--m1); OMBRE PORTÉE DE TOUS LES BLOCKS : remplacer par "0 0 5px" par "0 0 0" pour ne pas en avoir*/
  --main-box-shadow: 0 0 0px var(--m1);
  --main-box-shadow-highlight: 0 0 0px var(--d1); /*OMBRE PORTÉE E CERTAINS BLOCKS : remplacer par "0 0 3px" par "0 0 0" pour ne pas en avoir*/
  
  --table-background: var(--l2);
  --table-highlight-background: var(--l3);
  --table-header-background: var(--h1);
  
  color: var(--d3);
  font-family: 'Open Sans';
  font-size: 13px;
  line-height: 12px;
  text-align: justify;
}

HTML {
  background-color: #1f2021;
}

body {
  background: transparent;
  color:#b3b3b3;

}

HTML *{
  transition: all var(--transt) ease;
  -webkit-transition: all var(--transt) ease;
  -moz-transition: all var(--transt) ease;
  -ms-transition: all var(--transt) ease;
  -o-transition: all var(--transt) ease;
  --transt: .4s;
}

HTML, HTML * {
  box-sizing: border-box;
}

/*- - - - - - - - - - - - - - - - - - - - FONTS FONTS FONTS - - - - - - - - - - - - - - - - - - - -*/
element.style {
  color:white;
}
th, td, p
Specificity: (0,0,1)
 {
    font-family: 'Geist Mono';
}

panel {
color:white !important;
font-size:14px;
line-height:20px;
font-weight:600;
text-transform: lowercase;
  
}

h1.page-title {
text-align:center;
color:white !important;
font-size:18px;
letter-spacing:2px;
line-height:22px;
font-weight:500;
text-transform: lowercase;
padding:20px 0 0 0 !important;
font-style:italic;
font-family: 'Bodoni Moda';
  margin-bottom:10px;
}
a{
  color: #b3b3b3 !important;
  text-decoration: none !important;
}

a:hover{
  color: #b3b3b3;
}

a, a:visited{
  text-decoration: none!important;
    color: #b3b3b3;
}

a:hover, input:hover, label{
  color: #b3b3b3;
}

a.forumtitle, a.forumtitle:visited, a.forumtitle:link {
  color: #b3b3b3;
}

input[type=text]{
  color: #b3b3b3 !important;
}

u {
  text-decoration: none!important;
  border-bottom: 1px solid!important;
}

/*- - - - - h2, h3, h4, h5, h6 - - - - -*/

h2 {
    color: white;
    font-family: 'Bodoni Moda';
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    text-transform: lowercase;
}

.h2 {
  font-weight: normal;
  font-style: normal;
  text-transform: lowercase;
  background:transparent!important;
}

.simple h2 {
  margin: 0;
}

h2 + pp {
  display: block;
  margin-top: var(--sm);
  padding: var(--sm) var(--sm) 0;
  opacity: .9;
  text-transform: lowercase;
}

h2 + pp a {
  color: inherit !important;
}

  h3, .h3{
  margin: 0;
  color: white;
  font-family: 'Bodoni Moda';
  font-size: 18px;
  font-weight: normal;
  text-transform: lowercase;
  text-decoration:none;
  font-style:italic;
  letter-spacing:0.5px;
  border-width: 0 0 0px;
}

h4, .quick_reply_topic div.h3 {
  padding: 0 var(--mo) var(--sm);
  border: 0;
  color: white;
  font-family: 'Bodoni Moda';
  font-size: 16px;
  font-weight: 500;
   letter-spacing: 1px;
  --highlight-color: var(--m2);
}

/*- - - - - ro, rou - - - - -*/

ro, rou {
  font-family:inherit;
  font-weight: 500;
  font-style: normal;
}

ro {
  color: inherit;
  text-transform: lowercase;
  font-size:10px;
}

rou {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family:'Geist Mono';
  padding:5px 0;
}

.dark ro, .dark rou {
  color: inherit !important;
}

/*- - - - - pl, plu, pp, ppb - - - - -*/

pl, plu, pp, ppb {

  font-weight: normal;
}

pl {
  text-transform: lowercase;
}

plu {
  color: var(--d1);
  text-transform: uppercase;
  font-style: normal;
}

pp, ppb {
  color: var(--d1);
  font-size: 10px;
  font-style: italic;
  letter-spacing: 5px;
}

.dark pp, .dark ppb {
  color: inherit !important;
}

pp:hover, ppb:hover {
}

ppb {
  display: block;
  width: 90%;
  margin: var(--sm) auto 0;
}

ppb:before, ppb:after {
  content: ' — ';
}
/*- - - - - tag, btag, dtag - - - - -*/

tag, btag, dtag {
  text-transform: lowercase;
  font-style: normal;
  font-weight: 600;
  text-align: left;
  font-size:15px;
  margin: 3px 13px 5px 0px;
  transition: 0.3s linear;
  color:white !important;
}

tag {
  padding: 3px var(--sm);
}

tag, btag, dtag :hover {color:white !important;}

tag, btag {
  background: transparent;
  
  color: white;
}

dtag {
  background:transparent;
  margin: var(--sm);
  
  color: white;
}

btag, dtag {
  box-shadow: none;
  padding:0 4px;
  color:white !important;
  font-size:12px !important;
  
}

a tag, a btag {
  color: white;
}

a dtag {
  color: white;
}
/*- - - - - balises - - - - -*/

hl1 {
    font-family: var(--font-5);
    font-weight: 600;
    font-size: 9px;
    color: var(--pa_c6);
    padding: 0 3px;
    background-color: var(--text-c3);
    letter-spacing: 0;
    text-transform: uppercase;
}
/*- - - - - other - - - - -*/

qq {
  opacity: .7;
  
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

lgn{
  display: block;
  width: 100%;
  height: 0;
  border-bottom: 1px solid var(--l4);
  margin: var(--grid-gap) auto;
}
/*- - - - - - - - - - - - - - - - - - - - ELEMENTS (buttons, inputs & co) - - - - - - - - - - - - - - - - - - - -*/

input, button, textarea {
  outline: none;
  font-family: inherit;
}

a, input, button {
}

button, .button1, .button2 {
  text-transform: lowercase;
}

[class^=bp_] input, [class^=bp_] button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0px;
  outline: none;
}

.button1 {
  
  font-family: inherit;
}

.button1:hover {

}

.button2 {

  font-family: inherit;
}

.button2:hover {

}

img {
  object-fit: cover;
}

/* - - - - - FORUMACTIF - - - - - */

#topicreview {
  height: auto !important;
  max-height: 900px !important;
}

fieldset, p, .button1, .button2, #fa_ticker *, input[type="submit"], #tabs ul li {
  font-size: 10px;
  line-height: 9px;
  text-transform:lowercase;
}

input[type="submit"], .button, .button1, .button2 {
    background-color: #232323;
    color: #fff;
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
    display: inline-block;
    font-family: 'Open Sans', 'Verdana', 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 500;
    overflow: hidden;
    padding: 5px;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    width: auto !important;
}

/* - - - - - GENERAL - - - - - */

scroll{
    flex: 1 1 auto;
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
}

*::-webkit-scrollbar{
display:none;
}
*::-webkit-scrollbar-thumb {
  background:transparent;
  border-radius:0px;
  height:5px;
}

[class^=bp_] input.onglet + div, [class^=bp_] input.onglet + label + div{
  display: none;
}

[class^=bp_] input.onglet:checked + div, [class^=bp_] input.onglet:checked + label + div{
  display: block;
}

table{
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  color: inherit;
  text-align: inherit;
  font-size: inherit;
}

/*- - - - - - - - - - - - - - - - - - - - TOPIC TOPIC TOPIC - - - - - - - - - - - - - - - - - - - -*/

.subtitle_topic {
  margin-top: var(--mo);
}

.subtitle_topic btag {
  margin-right: var(--mo);
}

.navtree_topic {
  border-left: 1px solid grey;
  padding: 3px 0 4px var(--mo);
}

.navtree_topic a{
  color: inherit;
}

.topic-actions.bottom, .topic-actions.bottom * {
  font-size: 13px;
}
.quick_reply_topic {
 background:var(--bg); 
}

.quick_reply_topic div.h3 {
  background: transparent;
  box-shadow: none !important;
}

.options_topic {
  margin: var(--bg) auto var(--sm);
}

.options_topic *:not(h4) {
  font-size: 13px;
}

.goto_topic {
  margin-left: var(--mo) !important;
}

/*- - - - - PREVISUALISATION - - - - -*/

.post_preview {
  padding: var(--bg) var(--half-mg);
  --half-mg: calc(0.5 * 250px); /*200px + 2 * 12px + 12px + 14px*/
}

/*- - - - - - - - - - - - - - - - - - - - PROFIL PROFIL PROFIL - - - - - - - - - - - - - - - - - - - -*/

.bp_profil {
  display: grid;
  grid-template:
    "left center right" 380px
   / 1fr 200px 1fr;
  grid-gap: var(--sm);
}

.bp_profil .simple {
  margin-top: 0;
}

.bp_profil > * {
  margin: 0 !important;
}

.left_profil {
  display: grid;
  grid-gap: var(--sm);
  grid-template:
    "contact main" 270px
    "contact online" 1fr
    / var(--sq) 1fr;
  --sq: 0px;
}

.contact_profil {
  grid-area: main;
}

.contact_profil img {
  display: block;
  width: var(--sq);
  height: var(--sq);
  margin-bottom: var(--mo);
}

.infos_profil {
  grid-area: main;
}

.infos_profil div:not(.invisible) {
  display: inline;
}

.online_profil {
  grid-area: online;
}

.avatar_profil {
  width: 200px;
  height: 320px;
 
}

.avatar_profil img {
  width: 200px;
  margin-left:-10px;
}

.right_profil {
  display: grid;
  grid-gap: ;
  grid-template:
    "un un" 1fr
    "deux deux" 1fr
    "trois trois" 1fr
    "quatre quatre" 1fr
    "reste reste" 123px
   / 1fr 1fr;
}

.rank_profil {
  grid-area: un;
}

.posts_profil {
  grid-area: deux;
}

.participations_profil {
  grid-area: trois;
}

.messages_profil {
  grid-area: quatre;
}

.rpg_profil {
  grid-area: reste;
}

.rpg_activated_profil + .rpg_inactivated_profil {
  display: none;
}

/*- - - - - - - - - - - - - - - - - - - - TOOLTIPS TOOLTIPS TOOLTIPS - - - - - - - - - - - - - - - - - - - -*/

/*inside postbody*/

a.mentiontag {
  background: transparent !important;
  padding: 0px 0px !important;
  color: white !important;
  font-size:13px;
  font-weight:500;
  text-transform:lowercase;
  letter-spacing:-1px;
  font-style:italic;
}

/*tooltip itself*/

.tooltipster-base {
      height:220px !important;
      width: 200px !important;
  border:1px solid white !important;
   
}

.tooltipster-default {
  background: var(--l2) !important;
  padding: 0 !important;
  box-shadow: var(--main-box-shadow) !important;
  border: 0 !important;
  color: inherit !important;
  font-family: inherit !important;
  font-size: 12px;
}

.bp_tooltip {
  display: grid;
  grid-gap: var(--mo);
  grid-template:
    "icon title" auto
    "icon infos" var(--sq)
    "rank rank" auto
   / var(--sq) 1fr;
  --sq: 100px;
}

.bp_tooltip .simple {
  margin: 0 !important;
}

.name_tooltip {
  grid-area: title;
  background: var(--l3) !important;
}

.preview_avatar, .preview_avatar img {
    width: 120px !important;
    height:120px !important;
}

.preview_content {
    width: 200px !important;
    height:220px !important;

}

.avatar_tooltip {
  grid-area: icon;
}

.avatar_tooltip img {
  width: 100% !important;
    height:100% !important;
}

.rank_tooltip {
  grid-area: rank;
  background: var(--l3) !important;
}

.displayed_rank_tooltip + .no_rank_tooltip {
  display: none;
}

.infos_tooltip {
  grid-area: infos;
}

.infos_tooltip a::after {
  content: ' ';
}









/*- - - - - - - - - - - - - - - - - - - - OFFICIAL MESSAGES - - - - - - - - - - - - - - - - - - - -*/
.content, .content p {
    font-size: 10px;
}



.postbody, .postbody {
  font-size: 13px;
  line-height: 1.3rem;
}

.postbody img {
  max-width: 100%;
}

.postbody .simple:first-child {
  margin-top: 0;
}

.postbody .flex, .postbody .flexrow {
  --max: 200px;
  --height: 200px;
}

.flex.ava, .flexrow.ava {
  --height: 250px;
}

.postbody .flex > *, .postbody .flexrow > * {
  height: var(--height);
}

.ava .ava {
  --width: calc(0.625 * var(--height));
  flex: 0 0 var(--width);
}

.ava .ava img {
  display: block;
  width: 100%;
  height: 100%;
}
