@font-face {
    font-family: 'Gothfont'; 
    src: url('Lordish-Regular.ttf') format('TrueType'); /* <--- Le chemin vers le fichier italique */
    font-weight: normal;  
    font-style: normal;  /* <--- On spécifie que c'est la version italique */
}
