.pres_iconirl {
  width:70px !important;
  height:70px !important;
  object-fit:cover;
  margin-left:20px;
}

.fiche_admin {
  margin-left:16px;
}

.partie1 {
 width:250px; 
 height:240px;
 overflow:auto;
}
.cpresaimg3 {
  margin-left:22px;
}

.presaimg3 {
  width:180px;
  height:80px;
  object-fit:cover;
  padding:6px;
}

.fiche_cita {
  font-family: 'Geist mono';
  margin-top:-10px;
  margin-bottom:-10px;
  font-size:11px;
  font-weight:300;
  color:lightgrey;
  letter-spacing:px;
  text-transform:lowercase;
  width:310px;
  text-align:center;
}

.presaimg2 {
  width:135px !important;
  height:216px !important;
  object-fit:cover;
  padding:0px;
  
}

.psypsy {
  margin-top:-20px;
}

.profilpsy {
    margin: auto;
    overflow: auto;
    width: 440px;
    line-height: 12px;
}

.psy1 {
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    text-transform: lowercase;
    font-family:'Manrope';
    color:lightgrey;
      letter-spacing: 0.5px;
  
}

.cotepsy1 {
    text-align: left;
    width: 145px;
}

.jaugepsy {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
      margin-left:5px;
   
}

.meter {
    border-radius: 0px;
    height: 5px;
    padding: 0;
    position: relative;
    width: 150px;
    margin-top: 2px;
    background-color: #1A1B1B;
    margin-bottom:-13px;
    margin-left:3px;
}

.meter > span {
    display: block;
    height: 100%;
    overflow: hidden;
    border-radius: 0px;
    background: var(--deg-2);
  opacity:0.7;
}

.titre_fiche {
  padding-top:12px;
  padding-bottom: 5px;
  margin: auto;
  color: #A5B8E4;
  font-family: 'Bodoni Moda' !important;
  font-size: 20px;
  letter-spacing:normal;
  font-weight: 500;
  text-transform: lowercase;
  line-height:30px;
  width:100%;
  font-style:italic;
}

.titre_fiche2 {
  padding-top:12px;
  padding-bottom: 5px;
  margin: auto;
  color:#F9D68E !important;
  font-family:'AesReg' !important;
  letter-spacing:1.5px;
  text-transform:uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height:30px;
  width:100%;
}
