/* --- Conteneur Principal --- */
#new-headerbar-top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 380px;
}

/* --- Logo --- */
#logo {
    position: absolute;
    z-index: 1;
}

/* --- Bloc Lien (Positionnement) --- */
#mon-lien-header {
    position: relative;
    z-index: 10;
    right: 235px;
    top: 99px;
}

/* --- États du Lien (Typo & Style) --- */
#mon-lien-header a, 
#mon-lien-header a:link, 
#mon-lien-header a:visited {
    display: inline-block;
    padding: 0 20px 0 0;
    color: #dddddd !important;
    text-decoration: none;
    font-family: 'Feathery';
    font-size: 84px;
    font-weight: 400;
    font-style: italic;
    border-radius: 0px;
    overflow: visible;
}

