/* Notiffi CSS */
/* Bouton de notification */
#notiffi_button {
 cursor: pointer;
 background: transparent;
 border-radius: 0px;
 display: flex;
 align-items: center;
 gap: 0px;
 padding: 0px 5px !important;
 position: fixed;
 z-index: 999;
 top: 0px;
 right: 30px;
 height: 35px;
 color:white !important;
 font-family: 'Manrope';
 font-size: 10px;
 text-transform: uppercase;
  
}

/* Conteneur du nombre de notification non lues REMPLI */
.unread_count {
 position: relative;
 display: grid;
 place-items: center;
 scale: 1;
 opacity: 1;
 aspect-ratio: 1;
 transition: scale ease-out .2s;
  background: #fff !important;
    color: #000 !important;
    border-radius: 50% !important;
    width: 15px !important;
    height: 15px !important;
    font-weight: 800 !important;
    font-size: 9px !important;
    font-family: var(--font-4) !important;
  margin-left:5px;
  
}

/* Conteneur du nombre de notification non lues VIDE */
.unread_count:empty {
 position: absolute;
 scale: 0;
 opacity: 0;
 transition: all ease-out .2s;
}

/* Menu des notifications FERMÉ */
#notiffi_panel {
 --menuSize: 500px;
 /* taille du Menu */
 width: var(--menuSize);
 position: fixed;
 z-index: 997;
 top: 30px;
 height: auto !important;
 right: calc(var(--menuSize) * -1);
 display: flex;
 flex-direction: column;
 gap: 0px;
 align-items: start;
 background: #1a1b1b;
 border-left: 1px solid #1A1B1B;
 padding: 5px;
 padding-top: 5px;
 opacity: 0;
 visibility: hidden;
 transition: all ease .7s;
}

/* Menu des notifications OUVERT */
#notiffi_panel.open {
 right: 0;
 visibility: visible;
 opacity: 1;
}

/* Conteneur des notifications */
.all_notifications {
 width: 100%;
 overflow: auto;
 max-height: 100%;
 background: ;
 padding: 10px;
 border-radius: 10px;
 -ms-overflow-style: none;
 scrollbar-width: none;
      text-transform: lowercase !important;

 /* Désactive la barre de défilement dans le contenenur */
 &::-webkit-scrollbar {
   display: none;
 }
}

/* Conteneur des notifications VIDE */
.no_notification {
 text-align: center;
 font-style: italic;
}

/* Conteneur du footer du menu 
  (voir toutes les notifications, marquer comme lu, tout supprimer) */
.notiffi_manage {
 width: 100%;
 display: flex;
 justify-content: space-between;
}

/* Conteneur des bouton d'action des notifications */
.notiffi_actions {
 display: grid;
 justify-items: end;
 gap: 5px;

 /* Bouton d'action */
 button {
   padding: 2px 10px;
   background: transparent;
    font-size:10px;
    font-familt:'Geist Mono';
   border-radius: 5px;
color:white;
   &:hover {
     color: var(--deg-2);
   }
 }
}

/* Apparence d'une notification */
.notification {
 display: flex;
 gap: 15px;
 margin-bottom: 5px;
 padding: 10px;
 border-radius: 5px;
 border: 1px solid transparent;
 transition: border .2s;
 animation: notiffiFadeIn 0.3s ease-in-out;
  background:#151617!important;
  font-size:11px;
        text-transform: lowercase !important;

 /* Notification au survol */
 &:hover {
   border-color:#b3b3b3;
 }
}

.notification a {
  color:white !important;
  font-style:italic !important;
  font-weight:600 !important;
        text-transform: lowercase !important;
}

.notification a:hover {
   color:#A6BCE8 !important;
}

/* Animation d'apparition des notifications */
@keyframes notiffiFadeIn {
 from {
   opacity: 0;
 }

 to {
   opacity: 1;
 }
}

/* Apparence d'une notification NON LUE */
.notification.unread {
 background-color: #1a1b1b;
}

/* Conteneur des détails de la notification (avatar, icone) */
.notif_details {
 position: relative;
 align-self: start;
}

/* Conteneur de l'avatar */
.notif_avatar {
 background: var(--neutral);
 height: 60px;
 border-radius: 5px;
 aspect-ratio: 1;
 margin-left:20px;

 /* Image de l'avatar */
 & img {
   width: 60px;
    height: 70px;
    border: 2px solid var(--text-c1);
    object-fit: cover;
 }
}

/* Icone du type de la notification */
.notif_icon {
position: relative;
    width: 22px;
    height:22px;
    padding: 5px;
    border-radius: 50%;
    font-size: 12px;
    margin: -5px 0 0 66px;
    background: var(--fond-c2);
}

/* Icone lorsque la notification est non lue */
.notification.unread .notif_icon {
 color: white;
 background: var(--deg-2);
}

/* Conteneur du texte et la date de la notification */
.notif_content {
 width: 100%;
}

/* Date de la notification */
.notif_time {
 font-size:10px;
 opacity: .8;
 margin-top: 5px;
}

/* Bouton de suppression de la notification */
.notif_close {
 background: transparent;
 align-self: start;
 font-size: 18px;
 line-height: 0;
 opacity: 0;
 border-radius: 100px;
 aspect-ratio: 1;
 padding: 2px;
 transition: all .3s;
  color:white !important;
}

/* Affiche le bouton de suppression au survol de la notification */
.notification:hover .notif_close {
 opacity: 1
}

/* Alerte d'une notification */
.notification.alert {
 position: fixed;
 width: 400px;
 align-items: center;
 z-index: 99;
 bottom: 10px;
 right: 10px;
 background: var(--neutralDarker);
 transform: translateY(100%);
 opacity: 0;
 filter: blur(5px);
 transition: all .5s ease-in-out;
}

.notification.alert.up {
 transform: translateY(0%);
 opacity: 1;
 filter: blur(0);
 transition: all .5s ease-in-out;
}

.alert_close {
 background: var(--neutral);
 font-size: 18px;
 line-height: 0;
 border-radius: 100px;
 aspect-ratio: 1;
 padding: 2px;
}
