@keyframes defilement {
  0% {transform: translateX(0%);}
  100% {transform: translateX(-100%);}
}
.rp-defgreeny-container {
  width: 500px;
  margin: 0 auto;
  position: relative;
}
.rp-defgreeny-container a {
  text-decoration: none;
}
.rp-defgreeny-header {
  width: 490px;
  margin: 0 0 -20px 0;
  position: relative;
}
.rp-defgreeny-bgimage {
  position: absolute;
  inset: 0;
  z-index: 0;
  opacity: 0.5;
}
.rp-defgreeny-overlay {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(0px);
  z-index: 1;
}
.rp-defgreeny-content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  padding-right: 10px;
  text-decoration: none;
}
.rp-defgreeny-textblock {
  font-family: 'Courier New', monospace;
  letter-spacing: 1px;
  text-transform: lowercase;
  text-align: center;
}
.rp-defgreeny-title {
  font: italic bold 25px Times;
  letter-spacing: 3px;
  line-height: 20px;
}
.rp-defgreeny-subtitle {
  font: 12px Arial;
  letter-spacing: 5px;
  margin-top: 5px;
  font-style: italic;
}
.rp-defgreeny-avatar-wrapper {
  position: relative;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rp-defgreeny-avatar {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 4px double var(--couleur2);
  overflow: hidden;
  display: flex;
}
.rp-defgreeny-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  display: block;
}
.rp-defgreeny-heart {
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(50%);
  font-size: 22px;
  line-height: 24px;
  user-select: none;
}
.rp-defgreeny-scrolltext-wrapper {
  position: absolute;
  top: 71px;
  right: 15px;
  overflow: hidden;
  white-space: nowrap;
  width: 200px;
  font-family: 'roboto', monospace;
  font-size: 11px;
  user-select: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.rp-defgreeny-scrolltext {
  display: inline-block;
  padding-left: 0;
  animation: defilement 40s linear infinite;
  overflow-wrap: break-word;
}
.rp-defgreeny-maintext {
  width: 490px;
  margin: 20px auto 0 auto;
  padding: 20px 5px 20px 5px;
  font: 13px Figtree;
  line-height: 18px;
  box-sizing: border-box;
  text-align: justify;
  border-bottom: 4px double var(--couleur1);
  overflow-wrap: break-word;
}
.rp-defgreeny-icon-wrapper {
  float: left;
  position: relative;
  width: 70px;
  height: 70px;
  margin: 0 20px 0 0;
  border-radius: 100%;
  border: 4px double var(--couleur2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.rp-defgreeny-icon-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  display: block;
}
.rp-defgreeny-icon-emoji {
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(50%);
  font-size: 22px;
  line-height: 24px;
  user-select: none;
}
